{% extends 'base.html' %}

{% block content %}

{% if operation == 'spending' %}
<h1>Статистика по расходам</h1>
<h3><a href="{% url 'statistic' 'profit' year month %}">Посмотреть статистику доходов</a></h3>
{% elif operation == 'profit' %}
<h1>Статистика по доходам</h1>
<h3><a href="{% url 'statistic' 'spending' year month %}">Посмотреть статистику расходов</a></h3>
{% endif %}

{% for key, value in months_year.items %}
    {{ key }}:
    {% for v in value %}
        <a href="{% url 'statistic' operation key v %}">{{ v }}</a>
    {% endfor %}
{% endfor %}


            {% for day, operation_list in grouped_operation.items %}
        <h2>{{ day }}:</h2>
        {% for oper in operation_list %}
            <p>{{ oper.sum }} - {{ oper.comment }} | Категория: {{ oper.kod_cat }}| <a href="{% url 'delete' oper.id %}">Удалить</a></p>
            <!-- Здесь вы можете добавить другие поля, связанные с записью operation -->
        {% endfor %}
    {% endfor %}
{% endblock %}