<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title | title }}</title>
<!--    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
    {% load static %}
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
</head>
<body>

<div class="rectangle">
    <div class="container">
        <div class="navbar">
            <h1>MoneyCheck</h1>
        </div>
    </div>
</div>
{% block content_auth %} {% endblock %}
<!--<script src="/static/statistic.js"></script>-->
</body>
</html>