{% extends 'base_auth.html' %}
{% load i18n %}

{% block content_auth %}

{% block content %}
<div class="container container1">
    <div class="profile">
        <div class="profile-title">
            <h1>Сброс пароля</h1>
        </div>
        <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

        <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
    </div>
</div>
{% endblock %}
{% endblock %}
