{% extends 'base_auth.html' %}
{% block content_auth %}
{{ title }}
<div class="container container1">
    <div class="password-change">
        <div class="profile-title">
            <h1>{{title}}</h1>
        </div>
        <form action="" method="post" class="reg-info">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <div class="login-btn">
                <p><button type="submit">Зарегистрироваться</button></p>
            </div>
            <p class="btn-login-in-reg">Уже зарегистрированы? <a href="{% url 'users:login' %}">Войти</a></p>
        </form>
    </div>
</div>
{% endblock %}